body{
/*	background-color: lightgrey;*/
    color: #fff;
	font-family: 'Arial';
    
    background: rgba(169,3,41,1);
    background: -moz-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(169,3,41,1)), color-stop(44%, rgba(143,2,34,1)), color-stop(100%, rgba(109,0,25,1)));
    background: -webkit-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -o-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: -ms-linear-gradient(top, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    background: linear-gradient(to bottom, rgba(169,3,41,1) 0%, rgba(143,2,34,1) 44%, rgba(109,0,25,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#a90329', endColorstr='#6d0019', GradientType=0 );
    background-attachment: fixed !important;
}

#section0{
    background: -webkit-gradient(linear, top left, bottom left, from(#D20911), to(#A50F06));
    background: -webkit-linear-gradient(#D20911, #A50F06);
    background: linear-gradient(#D20911,#A50F06);
}
#section1{
    background: -webkit-gradient(linear, top left, bottom left, from(#F5A803), to(#E28800));
    background: -webkit-linear-gradient(#F5A803, #E28800);
    background: linear-gradient(#F5A803,#E28800);
}
#section2{
    background: -webkit-gradient(linear, top left, bottom left, from(#0F7AC0), to(#035692));
    background: -webkit-linear-gradient(#0F7AC0, #035692);
    background: linear-gradient(#0F7AC0,#035692);
}
#section3{
    background: -webkit-gradient(linear, top left, bottom left, from(#BCCF00), to(#91A100));
    background: -webkit-linear-gradient(#BCCF00, #91A100);
    background: linear-gradient(#BCCF00,#91A100);
}


.hjulio{
    background-color: #A50F06;
}
.hkike{
    background-color: #E28800;
}
.hbrando{
    background-color: #035692;
}
.hadri{
    background-color: #91A100;
}
h1{
    text-align: center;
    height: 100px;
    line-height: 100px;
}
h2{
    text-align: center;
}
h3{
    text-align: center;
    margin-top: 250px;
}

img{
    left: 50%;
    position: absolute;
    margin-left: -100px;
}

.imhJ{
    border:solid 8px #A50F06;
    border-radius: 8px;
}
.imhK{
    border:solid 8px #E28800;
    border-radius: 8px;
}
.imhB{
    border:solid 8px #035692;
    border-radius: 8px;
}
.imhA{
    border:solid 8px #91A100;
    border-radius: 8px;
}

.todo {
    width: 100%;
    height: 600px;
    position: relative;
    top: 25%; 
    left: 50%;
    margin-left: -50%;
        margin-top: -300px;
}

.right>ul>li>a{
    color: beige;
}


#header {
    position: absolute;
    left: 50%;
    margin-left: -10px;
    top: -15px;
}
#header>img{
    background-color: #A50F06;
    padding: 33px 0 13px 0;
    border-radius: 12px;
}

.gal {
    float: left;
    position: relative;
    width: 150px;
    height: 150px;
    margin: 10px 9px;
    left: 0;
    border:solid 6px #91A100;
    border-radius: 6px;
    opacity: 0.5;
}

.galeria {
    position: absolute;
    float: left;
    width: 900px;
    left: 50%;
    margin-left: -450px;
}

.bio {
    width: 600px;
    left: 50%;
    overflow: auto;
    position: absolute !important;
    height: 300px;
    box-sizing: border-box;
    text-align: justify;
    margin: 80px 0px 0px -100px !important;
    background-color: rgba(0,0,0,0.5);
    padding: 28px;
    border-radius: 7px;
}

.fotoBio {
    position: absolute;
    top: 100px;
    left: 200px;    
}
